@keyframes logo-side-move {
	from {
		left: 600px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;

	};
}

@keyframes welcome {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes author {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		padding-right: 30%;
	}
	100% {
		padding-right: 10%;
		opacity: 1;
	}
}